@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css");
@import url("normalize.css");

$headerText: rgb(211, 240, 48);
$headerback: rgb(52, 31, 78);
$bkc: rgb(119, 88, 233);

@-ms-viewport {
    width: device-width;
}

@mixin padding {
    padding: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

header {
    background-color: rgb(61, 19, 19) !important;
    margin-bottom: 0px;
    .navbar-inverse {
        background-color: $bkc;
        border-color: $headerback;
        .navbar-nav {
            margin: 0px;
            li a {
                color: $headerText;
                &:hover {
                    background-color: $headerback;
                }
            }
        }
        .navbar-brand {
            margin-left: 10px !important;
            color: $headerText;
        }
    }
    .navbar-form {
        margin-left: 5px;
        margin-right: 5px;
    }
}

.carousel {
    margin-bottom: 4rem;
}

.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}

.carousel-control.left,
.carousel-control.right {
    background-image: none !important;
    filter: none !important;
}

.carousel-item {
    height: 32rem;
    background-color: #777;
}

.carousel-item > img {
    position: absolute;
    @include padding;
    min-width: 100%;
    height: 32rem;
}

.container-fluid {
    padding: 0 !important;
}

.col-xs-4 {
    background: rgba(157, 52, 99, 0.7);
}

.col-md-4 {
    margin-bottom: 20px;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

footer p {
    margin-bottom: .25rem;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button {
    margin-right: 20px;
    color: $headerText;
    background-color: $headerback;
    &:hover {
        background-color: rgba(157, 52, 99, 0.7);
    }
}

footer {
    background-color: $headerback;
    p {
        color: white;
    }
    ul{
        display: flex;
        list-style: none;
        @include padding;
    }
    ul li{
        @include padding;
    }
    img {
        margin-top: 0px;
        margin-right: 10px;
        width: 30%;
        height: auto;
    }
    a {
        display: inline;
    }
}

h6 {
    font-size: 23px;
    font-weight: bold;
    color: $headerText;
}

#myFooter {
    margin: 0 auto;
    color: white; //border: 3px solid green;
    padding: 10px;
}