/*
 * Author: Yan Wang
 * Date: 2018-06
 */

 @import url('https://fonts.googleapis.com/css?family=Alegreya|Allura|Great+Vibes|Italianno');

html {
    font-family: 'Alegreya', serif;
    text-align: left;
}

img {
    display: inline;
}

h1, h2, h3, h4 {
    page-break-before: avoid;
    page-break-after: avoid;
}

h1 {
    font-size: 24px;
    text-align: center;
}

h1 p {
    text-align: left;
}

h1 img {
    width: 30vw;
}

h2 {
    font-size: 3vw;
    font-weight: bold;
    color: rgb(117, 89, 17);
}

h3{
    font-size: 2vw;
    font-weight: bold;
}

header {
    font-family: 'Alegreya', serif;
}

header p, .series, .video{
    color: rgb(77, 60, 36);
}


body{
    height: 100%;
}
a {
    text-decoration: none;
}
footer{
    color: black;
    text-align: center;
}


.aside01 {
    color:rgb(97, 97, 39);
}

main{
    color: rgb(47, 68, 15);
}

main article img {
    width: 8vw;
}

.aside02 {
    color:purple;
}

.article03 {
    display: inline-block;
    min-height: 110px;
}

#content {
    position: relative;
    text-align: center;
    color: aliceblue;
}

#text {
    position: absolute;
    width: 90px;
}



label{
    text-transform: uppercase;
    display:inline-block
}

#content > p {
    display: inline-block;
    text-align: center;
}

#content > p > em:nth-of-type(1) {
    font-weight: bold;
}

.casttable {
    margin-left: 0px;
    text-align: left;
    font-family: 'Alegreya', serif;
    padding: 30px;
}

tbody tr th {
    font-weight: bold;
    text-align: left;
    color: darkgoldenrod;
}

td {
    color: rgb(139, 117, 88);
    text-align: left;
    width: 120px;
}

#data tr:last-of-type td {
    width: 400px;
    height: 30px;
    color: rgb(37, 36, 18);
    font-size: 18px;
}

#data tr:last-of-type td div {
    display: inline;
}

.casttable tr th img {
    margin: -40px 20px -110px 50px;
}

.video {
    font-size: 16px;
}

a[href^="http"]:after{
    content: " (URL: " attr(href) ")    ";
}